{{ 'section-multicolumns.css' | asset_url | stylesheet_tag }}

{%- style -%}
    .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.top_padding_mobile }}px;
        padding-bottom: {{ section.settings.bottom_padding_mobile }}px;
    }

    @media screen and (min-width: 750px) {
        .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.top_padding }}px;
        padding-bottom: {{ section.settings.bottom_padding }}px;
        }
    }

    {% for block in section.blocks %}
        #multicolumns--{{ block.id }} .multicolumns-item-wrapper > div {
            max-width: {{ block.settings.max_width }}px;
        }
    {% endfor %}
{%- endstyle -%}

<div class="isolate section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} {{ section.settings.color_scheme }}">
    <div class="page-width">
        <div class="multicolumns grid grid--1-col grid--{{ section.settings.columns }}-col-tablet grid--{{ section.settings.columns }}-col-desktop">
            {% for block in section.blocks %}
                <div id="multicolumns--{{ block.id }}" class="{{ block.settings.visibility }} multicolumns-item" {{ block.shopify_attributes }}>
                    <div class="multicolumns-item-wrapper multicolumns-item--{{ block.type }} align-{{ block.settings.alignment }} align-{{ block.settings.alignment_mobile }}-down">
                        {% if block.type == 'text' %}
                            <div class="multicolumns-item-text">{{ block.settings.text }}</div>
                        {% else %}
                            <div class="multicolumns-item-image">
                                {% if block.type == 'image' %}
                                    {{ block.settings.image | image_url: width: block.settings.image.width | image_tag }}
                                {% else %}
                                    {{ block.settings.video | video_tag: controls: false, autoplay: true, muted: true, loop: true }}
                                    <img src="https://cdn.shopify.com/s/files/1/0705/7496/5016/files/Group_1021_6c717ebd-2224-412d-86a5-221bddc38034.png?v=1762248772" class="video-border" alt="video_border">
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Multicolumns",
    "settings": [
        {
            "type": "select",
            "id": "color_scheme",
            "options": [
                {
                "value": "accent-1",
                "label": "t:sections.all.colors.accent_1.label"
                },
                {
                "value": "accent-2",
                "label": "t:sections.all.colors.accent_2.label"
                },
                {
                "value": "background-1",
                "label": "t:sections.all.colors.background_1.label"
                },
                {
                "value": "background-2",
                "label": "t:sections.all.colors.background_2.label"
                },
                {
                "value": "inverse",
                "label": "t:sections.all.colors.inverse.label"
                },
                {
                "value": "bg-background",
                "label": "Collection Background"
                }
            ],
            "default": "background-1",
            "label": "t:sections.all.colors.label"
        },
        {
            "type": "range",
            "id": "columns",
            "label": "Columns",
            "default": 3,
            "min": 1,
            "max": 4,
            "step": 1
        },
        {
            "type": "header",
            "content": "Padding"
        },
        {
            "type": "range",
            "id": "top_padding",
            "label": "Top padding",
            "min": 0,
            "max": 200,
            "step": 2,
            "default": 50,
            "unit": "px"
        },
        {
            "type": "range",
            "id": "bottom_padding",
            "label": "Bottom padding",
            "min": 0,
            "max": 200,
            "step": 2,
            "default": 50,
            "unit": "px"
        },
        {
            "type": "range",
            "id": "top_padding_mobile",
            "label": "Mobile top padding",
            "min": 0,
            "max": 200,
            "step": 2,
            "default": 50,
            "unit": "px"
        },
        {
            "type": "range",
            "id": "bottom_padding_mobile",
            "label": "Mobile bottom padding",
            "min": 0,
            "max": 200,
            "step": 2,
            "default": 50,
            "unit": "px"
        }
    ],
    "blocks": [
        {
            "type": "text",
            "name": "Text",
            "settings": [
                {
                    "type": "select",
                    "id": "visibility",
                    "label": "Visibility",
                    "options": [
                        {
                            "value": "",
                            "label": "Both"
                        },
                        {
                            "value": "small-hide",
                            "label": "Desktop only"
                        },
                        {
                            "value": "large-up-hide medium-hide",
                            "label": "Mobile only"
                        }
                    ]
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Text"
                },
                {
                    "type": "range",
                    "id": "max_width",
                    "label": "Max width",
                    "min": 300,
                    "max": 800,
                    "default": 300,
                    "step": 5,
                    "unit": "px"
                },
                {
                    "type": "select",
                    "id": "alignment",
                    "label": "Alignment",
                    "options": [
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "center",
                            "label": "Center"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        }
                    ],
                    "default": "center"
                },
                {
                    "type": "select",
                    "id": "alignment_mobile",
                    "label": "Mobile alignment",
                    "options": [
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "center",
                            "label": "Center"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        }
                    ],
                    "default": "center"
                }
            ]
        },
        {
            "type": "image",
            "name": "Image",
            "settings": [
                {
                    "type": "select",
                    "id": "visibility",
                    "label": "Visibility",
                    "options": [
                        {
                            "value": "",
                            "label": "Both"
                        },
                        {
                            "value": "small-hide",
                            "label": "Desktop only"
                        },
                        {
                            "value": "large-up-hide medium-hide",
                            "label": "Mobile only"
                        }
                    ]
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "range",
                    "id": "max_width",
                    "label": "Max width",
                    "min": 300,
                    "max": 800,
                    "default": 300,
                    "step": 5,
                    "unit": "px"
                },
                {
                    "type": "select",
                    "id": "alignment",
                    "label": "Alignment",
                    "options": [
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "center",
                            "label": "Center"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        }
                    ],
                    "default": "center"
                },
                {
                    "type": "select",
                    "id": "alignment_mobile",
                    "label": "Mobile alignment",
                    "options": [
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "center",
                            "label": "Center"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        }
                    ],
                    "default": "center"
                }
            ]
        },
        {
            "type": "video",
            "name": "Video",
            "settings": [
                {
                    "type": "select",
                    "id": "visibility",
                    "label": "Visibility",
                    "options": [
                        {
                            "value": "",
                            "label": "Both"
                        },
                        {
                            "value": "small-hide",
                            "label": "Desktop only"
                        },
                        {
                            "value": "large-up-hide medium-hide",
                            "label": "Mobile only"
                        }
                    ]
                },
                {
                    "type": "video",
                    "id": "video",
                    "label": "Video"
                },
                {
                    "type": "range",
                    "id": "max_width",
                    "label": "Max width",
                    "min": 300,
                    "max": 800,
                    "default": 300,
                    "step": 5,
                    "unit": "px"
                },
                {
                    "type": "select",
                    "id": "alignment",
                    "label": "Alignment",
                    "options": [
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "center",
                            "label": "Center"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        }
                    ],
                    "default": "center"
                },
                {
                    "type": "select",
                    "id": "alignment_mobile",
                    "label": "Mobile alignment",
                    "options": [
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "center",
                            "label": "Center"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        }
                    ],
                    "default": "center"
                }
            ]
        }
    ],
    "max_blocks": 3,
    "presets": [
        {
            "name": "Multicolumns"
        }
    ]
}
{% endschema %}